:root{
    --tamanio-fuente-min: 1rem;
    --tamanio-fuente-max: 1.2rem;
    --tamanio-fuente-pie-min: .8rem;
    --tamanio-fuente-pie-max: 1rem;
    --color-negro: blacK;
    --color-negro-claro-1: #222;
    --color-negro-claro-2: #333;
    --color-blanco: #FFF;
}
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-size: var(--tamanio-fuente-min);
    background-color: var(--color-negro);
}
body{
    padding: 0px;
	margin: 0px;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5 {
    margin: .5rem 0;
}
h1{
    font-size: 2rem;
}
h3{
    font-size: 1.8rem;
}
h4{
    font-size: 1.6rem;
}
h5{
    font-size: 1rem;
}

.portada{
    width: 100%;
    position: relative;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.portada > img{
    width: 180%;
    clip-path: inset(0 20%);
    position: relative;
    top: 0;
    right: 40%;
    z-index: 3;
}
.portada > h1{
    position: absolute;
    bottom: 70%;
    left: 20%;
    color: var(--color-blanco);
    text-shadow: 0 0 15px cornflowerblue;
    z-index: 4;
}
.menu{
    position: relative;
    top: -3rem;
    width: 92%;
    padding: 2%;
    margin: 2%;
    color: white;
    z-index: 8;
}
.grilla{
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    grid-row-gap: 2rem;
}
.grilla-elemento{
    background: linear-gradient( #535A64 , #292E34 );
    border-radius: 10px;
    padding: .5rem 1rem;
}

.grilla-elemento > h3{
    background-color: #6F787F;
    border: solid var(--color-blanco) 2px;
    border-radius: 5px;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
}
.grilla-elemento > h5{
    font-weight: 700;
}
.grilla-elemento > p{
    text-align: justify;
}
footer{
    background-color: var(--color-negro-claro-2);
    height: 7rem;
    font-size: var(--tamanio-fuente-pie-min);
    color: var(--color-blanco);
}
footer > p{
    position: relative;
    top: 30%;
    width: 70%;
    text-align: center;
    
    margin: auto;
}

@media screen and (min-width: 768px){
    html{
        font-size: var(--tamanio-fuente-max);
    }
    h1{
        font-size: 2.8rem;
    }
    h3{
        font-size: 2rem;
    }
    h5{
        font-size: 1rem;
    }
    footer{
        font-size: var(--tamanio-fuente-pie-max);
    }
    .grilla {
        grid-template-columns: 47% 47%;
    }
    .menu {
        top: -8rem;
    }
    .portada > h1 {
        bottom: 60%;
        left: 60%;
    }
    .portada > img{
        width: 100%;
        clip-path: inset(0 0);
        right: 0;
    }
}